

/* a targets the text colour for the navbar*/

a {
    color: red !important;
}

.navbar-nav{

position: relative;
border:none;
left: 80%;
}

.jumbotron{
background-image: url(/Bootstrap-Portfolio/images/AdobeStock_248855155.jpeg);background-size: cover;
background-repeat: no-repeat;
height: calc(100vh - 25px);
display: flex;
align-items: center;
justify-content: center;



}
.jumboCopy{ background: none;
    color: rgb(245, 244, 248);
    position: relative;
   
    
    
    
    

}
.jumbotron img{
width: 90vh;
height: 95vh;
border-radius: 25%;
position: relative;
left:60%;



}

.aboutMe{
    box-sizing: border-box;
    margin-left: 20% ;
    color: rgb(6, 7, 7);
    background-image: url(/Bootstrap-Portfolio/images/diego-ph-5LOhydOtTKU-unsplash.jpg);

}

